<div
  [@fadeIn]
  class="flex items-center justify-center min-h-full bg-gradient-to-br from-violet-400 to-violet-700"
>
  <div
    class="w-full h-screen rounded-none flex flex-col justify-center sm:rounded-lg sm:max-w-3xl sm:h-auto bg-white shadow text-sm px-12 pt-8 pb-6 space-y-6"
  >
    <app-logo></app-logo>
    <div>
      <h1 class="mb-2 text-center">Recover your password</h1>
      <p [@fadeIn] class="mb-2 text-center">
        {{
          isSend
            ? "Great, we have sent a link to your email, which will redirect you to the
        password reset page."
            : "Enter your email and we'll send you a link to reset your password."
        }}
      </p>
    </div>
    <form [formGroup]="f" class="space-y-5" *ngIf="!isSend">
      <div>
        <app-input
          [control]="f.controls.email"
          [id]="'email'"
          [type]="'email'"
          [floatLabel]="'Enter your email'"
          [isError]="showError(f.controls.email)"
          formControlName="email"
        ></app-input>
      </div>
      <div>
        <app-button
          [size]="'md'"
          [width]="'auto'"
          [type]="'action'"
          [text]="'Send link'"
          [onLoad]="onLoad"
          [disabled]="f.invalid || onLoad"
          (callback)="sendCode()"
        ></app-button>
      </div>
      <div *ngIf="userNotFound" [@fadeIn]>
        <p class="text-sm text-center">
          We couldn't find an account with this email address. Please try again
          or <a [routerLink]="['../signUp']">create a new account.</a>
        </p>
      </div>
    </form>
    <app-countdown
      *ngIf="isSend"
      [text]="'You didn\'t receive the code? check your spam folder or'"
      [onLoad]="onLoad"
      (callback)="sendCode()"
    ></app-countdown>
    <app-loading [text]="'Send lint to email. Please, wait...'"></app-loading>
  </div>
</div>
