<div
  class="flex items-center justify-center min-h-full bg-gradient-to-br from-violet-400 to-violet-700"
>
  <div
    class="w-full h-screen rounded-none flex flex-col justify-center sm:rounded-lg sm:w-fit sm:h-auto bg-white shadow text-sm px-12 pt-8 pb-6 space-y-6"
  >
    <app-logo></app-logo>
    <div>
      <h1 class="mb-2 text-center">Recover your password</h1>
      <p class="mb-2 text-center">
        Enter your email and we'll send you a link to reset your password.
      </p>
    </div>
    <form [formGroup]="f" class="space-y-5">
      <div>
        <app-input
          [id]="'email'"
          [type]="'email'"
          [floatLabel]="'Enter your email'"
          [isError]="
            !f.controls.email.pristine && this.f.controls.email.invalid
          "
          formControlName="email"
        ></app-input>
        <p class="text-red-600 my-1 text-xs">
          <span class="fadeIn" *ngIf="f.controls.email.errors?.['email']"
            >Invalid email</span
          >
        </p>
      </div>
      <div>
        <app-button
          [size]="'md'"
          [width]="'auto'"
          [type]="'action'"
          [text]="'Send link'"
          [iconType]="'bi bi-box-arrow-in-right'"
          [onLoad]="onLoad"
          (callback)="sendLink()"
        ></app-button>
      </div>
    </form>
  </div>
</div>
