<div
  id="notification-1"
  [@fadeOut]
  [@scrollAnimation]="animationState"
  [class]="data.type"
  role="notification"
  *ngIf="!closed"
>
  <div [ngSwitch]="data.type">
    <div *ngSwitchCase="EnumTypeNotification.DEFAULT">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="stroke-violet-800"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
        />
      </svg>
    </div>
    <div *ngSwitchCase="EnumTypeNotification.ERROR">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9.75 9.75l4.5 4.5m0-4.5l-4.5 4.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
    <div *ngSwitchCase="EnumTypeNotification.WARNING">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
        />
      </svg>
    </div>
    <div *ngSwitchCase="EnumTypeNotification.SUCCESS">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
    <div *ngSwitchCase="EnumTypeNotification.PRIMARY">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"
        />
      </svg>
    </div>
  </div>
  <div class="w-full">
    <h6 *ngIf="data?.title">{{ data.title }}</h6>
    <p *ngIf="data?.message">{{ data.message }}</p>
    <div *ngIf="data?.listmessage">
      <ul *ngFor="let messagge of data?.listmessage">
        <li>{{ messagge }}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="data?.closeable">
    <button
      type="button"
      data-dismiss-target="#notification-1"
      aria-label="Close"
      (click)="close()"
    >
      <span class="sr-only">Close</span>
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
</div>
