<div [ngClass]="{ relative: floatLabel }">
  <input
    [id]="id"
    [type]="type"
    [ngClass]="{ error: isError, 'pr-12': showIconEyes }"
    [value]="value"
    (input)="change($event)"
    (blur)="onTouche()"
    [disabled]="disabled"
    class="peer"
    placeholder=" "
  />
  <div *ngIf="showIconEyes" class="absolute px-4 right-0 bottom-2.5">
    <i
      class="text-gray-400 hover:text-violet-600 cursor-pointer text-xl bi"
      (click)="type === 'password' ? (type = 'text') : (type = 'password')"
      [ngClass]="{
        'bi-eye-fill': type === 'password',
        'bi-eye-slash-fill': type !== 'password'
      }"
    ></i>
  </div>
  <label
    *ngIf="floatLabel"
    [for]="id"
    class="float"
    [ngClass]="{ error: isError }"
  >
    {{ floatLabel }}
  </label>
</div>
<div *ngIf="isError" [@fadeInOutAnimation]>
  <p *ngIf="control?.errors?.['email']" class="error my-1 text-xs">
    {{ name }} is invalid
  </p>
  <p *ngIf="control?.errors?.['required']" class="error my-1 text-xs">
    {{ name }} is required
  </p>
  <p
    *ngIf="control?.errors?.['minlength']"
    class="error my-1 text-xs"
    [@fadeInOutAnimation]
  >
    {{ name }} must be at least {{ PASSWORD_VALIDATION.MIN_LENGTH }} character
  </p>
  <p
    *ngIf="control?.errors?.['maxlength']"
    class="error my-1 text-xs"
    [@fadeInOutAnimation]
  >
    {{ name }} must be at least {{ PASSWORD_VALIDATION.MAX_LENGTH }} character
  </p>
</div>
