<div
  [@fadeIn]
  class="flex items-center justify-center min-h-full bg-gradient-to-br from-violet-400 to-violet-700"
>
  <div
    class="w-full h-screen rounded-none flex flex-col justify-center sm:rounded-lg sm:max-w-lg sm:h-auto bg-white shadow text-sm px-12 pt-8 pb-6 space-y-6"
  >
    <app-logo></app-logo>
    <div>
      <h2 class="mb-2 text-center">Reset password</h2>
    </div>
    <form [formGroup]="f" class="space-y-5">
      <div>
        <app-input
          [control]="f.controls.password"
          [id]="'password'"
          [name]="'password'"
          [type]="'password'"
          [floatLabel]="'Enter your password'"
          [isError]="
            !f.controls.password.pristine && f.controls.password.invalid
          "
          formControlName="password"
          [showIconEyes]="true"
        >
        </app-input>
      </div>
      <div>
        <app-button
          [size]="'md'"
          [width]="'auto'"
          [type]="'action'"
          [text]="'Change'"
          [iconType]="'bi bi-box-arrow-in-right'"
          [onLoad]="onLoad"
          [disabled]="f.invalid || onLoad"
          (callback)="resetPassword()"
        ></app-button>
      </div>
    </form>
  </div>
</div>
