<div class="flex justify-center">
  <button
    (click)="onclick()"
    [class]="class"
    role="button"
    [disabled]="disabled"
  >
    <ng-container *ngIf="onLoad && iconType; else elseIconTemplate">
      <div class="b-icon">
        <svg
          class="animate-spin fill-violet-500"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <circle
            class="fill-transparent stroke-violet-400 w-full block"
            cx="12"
            cy="12"
            r="10"
            stroke-width="4"
          ></circle>
          <path
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
    </ng-container>
    <ng-template #elseIconTemplate>
      <i *ngIf="iconType" class="b-icon" [class]="iconType"></i>
    </ng-template>

    <p *ngIf="text" class="b-text">
      <ng-container
        *ngIf="onLoad && type.includes('full'); else elseTextTemplate"
      >
        Processing...
      </ng-container>
      <ng-template #elseTextTemplate>
        {{ text }}
      </ng-template>
    </p>
  </button>
</div>
