<div
  [@fadeIn]
  class="min-h-full flex justify-end bg-gradient-to-br from-violet-400 to-violet-700"
>
  <div
    class="lg:max-w-2xl w-full h-auto flex flex-col justify-center bg-white shadow text-sm sm:px-20 md:px-40 lg:px-20 pt-8 pb-6 space-y-6"
  >
    <app-logo></app-logo>
    <div *ngIf="!showEmailConfirm">
      <div>
        <h1 class="text-center">Create your Account</h1>
        <p class="text-center">
          Already registered?
          <a [routerLink]="['../signIn']">Sign In</a>
        </p>
      </div>
      <form [formGroup]="f" class="mt-6 space-y-5">
        <app-social-button
          [type]="'md auto b-google-secondary'"
          [text]="'Sign Up with Google'"
          [social]="'google'"
          (callback)="redirectAuthGoogle()"
        ></app-social-button>
        <p class="text-center">or continues with credentials</p>
        <div>
          <app-input
            [control]="f.controls.email"
            [id]="'email'"
            [name]="'email'"
            [type]="'email'"
            [floatLabel]="'Enter your email'"
            [isError]="!f.controls.email.pristine && f.controls.email.invalid"
            formControlName="email"
          ></app-input>
        </div>
        <div>
          <app-input
            [control]="f.controls.password"
            [id]="'password'"
            [name]="'password'"
            [type]="'password'"
            [floatLabel]="'Enter your password'"
            [isError]="
              !f.controls.password.pristine && f.controls.password.invalid
            "
            formControlName="password"
            [showIconEyes]="true"
          >
          </app-input>
        </div>
        <div class="flex items-center space-x-4">
          <app-input
            [control]="f.controls.acceptTerms"
            [id]="'acceptTerms'"
            [name]="'terms'"
            [type]="'checkbox'"
            formControlName="acceptTerms"
          ></app-input>
          <label for="acceptTerms" class="text-center text-sm">
            Agreed with our
            <a [routerLink]="['../../terms']">Terms of Services</a>
            and
            <a [routerLink]="['../../privacy']">Privacy Policy.</a>
          </label>
        </div>
        <div>
          <app-button
            [size]="'md'"
            [width]="'full'"
            [type]="'action'"
            [text]="'Create account'"
            [iconType]="'bi bi-box-arrow-in-right'"
            [disabled]="f.invalid || onLoad"
            (callback)="auth()"
          ></app-button>
        </div>
      </form>
    </div>
    <div *ngIf="showEmailConfirm" [@fadeIn]>
      <div>
        <h5 class="mb-2 text-center">
          {{ VALIDATION_EMAIL.MESSAGE }}
        </h5>
      </div>
      <app-countdown
        [text]="'Have you not received the link? check your spam folder or'"
        [onLoad]="onLoad"
        (callback)="sendEmailConfirmation()"
      ></app-countdown>
    </div>
    <app-loading [text]="'Please, wait...'"></app-loading>
  </div>
</div>
