<div
  class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <img
        class="mx-auto h-12 w-auto"
        src="https://tailwindui.com/img/logos/mark.svg?color=violet&shade=500"
        alt="Your Company"
      />
      <h2
        class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
      >
        Create your Account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-500">
        Already registered?
        <a href="#" class="font-medium text-violet-500 hover:text-violet-500"
          >Sign In</a
        >
      </p>
    </div>
    <div class="bg-white py-8 shadow rounded-lg sm:px-10 text-sm">
      <generic-error-message [error]="genericError"></generic-error-message>
      <form
        [formGroup]="signInFormGroup"
        (ngSubmit)="auth()"
        class="mt-8 space-y-6"
      >
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700"
            >Email address</label
          >
          <div class="mt-1">
            <input
              [ngClass]="{'error': signInFormGroup.controls.email.touched && (signInFormGroup.controls.email.errors?.['required'] || signInFormGroup.controls.email.errors?.['email'])}"
              name="email"
              formControlName="email"
              type="email"
              required
            />
          </div>
          <div>
            <p class="text-red-700 mt-2 text-sm">
              <span
                class="fadeIn"
                *ngIf="signInFormGroup.controls.email.touched && signInFormGroup.controls.email.errors?.['required']"
                >Email is required</span
              >
              <span
                class="fadeIn"
                *ngIf="signInFormGroup.controls.email.touched && signInFormGroup.controls.email.errors?.['email']"
                >Invalid email</span
              >
            </p>
          </div>
        </div>
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password</label
          >
          <div class="mt-1">
            <input
              [ngClass]="{'error': signInFormGroup.controls.password.touched && (signInFormGroup.controls.password.errors?.['required'])}"
              formControlName="password"
              type="password"
            />
          </div>
          <div>
            <p class="text-red-700 mt-2 text-sm">
              <span
                class="fadeIn"
                *ngIf="signInFormGroup.controls.password.touched && signInFormGroup.controls.password.errors?.['required']"
                >Password is required</span
              >
            </p>
          </div>
        </div>
        <div>
          <label
            for="repeatPassword"
            class="block text-sm font-medium text-gray-700"
            >Repeat your Password</label
          >
          <div class="mt-1">
            <input formControlName="repeatPassword" type="password" />
          </div>
        </div>
        <div>
          <button
            type="submit"
            [disabled]="!signInFormGroup.valid"
            class="group relative flex items-center w-full h-12 justify-center align-middle rounded-lg border border-transparent bg-violet-700 py-2 px-4 text-sm font-medium text-white hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
          >
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6 fill-violet-500 group-hover:text-violet-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                  clip-rule="evenodd"
                />
              </svg>
            </span>
            Sign up
          </button>
        </div>
        <div></div>
      </form>
    </div>
  </div>
</div>
