<div
  class="min-h-full flex justify-end bg-gradient-to-br from-violet-400 to-violet-700"
>
  <div
    class="lg:max-w-2xl w-full h-auto flex flex-col justify-center bg-white shadow text-sm sm:px-20 md:px-40 lg:px-20 pt-8 pb-6 space-y-6"
  >
    <app-logo></app-logo>
    <div>
      <h1 class="text-center">Log in</h1>
      <p class="text-center">
        Don't have an account?
        <a [routerLink]="['../signUp']">Register here.</a>
      </p>
    </div>
    <form [formGroup]="f" class="mt-6 space-y-5">
      <app-social-button
        [type]="'md auto b-google-secondary'"
        [text]="'Sign In with Google'"
        [social]="'google'"
        (callback)="redirectAuthGoogle()"
      ></app-social-button>
      <p class="text-center">or continues with credentials</p>
      <div>
        <app-input
          [id]="'identifier'"
          [type]="'email'"
          [floatLabel]="'Enter your email'"
          [isError]="
            !f.controls.identifier.pristine && f.controls.identifier.invalid
          "
          formControlName="identifier"
        ></app-input>
        <p
          *ngIf="f.controls.identifier.errors?.['email']"
          [@fadeInOutAnimation]
          class="error my-1 text-xs"
        >
          Invalid email
        </p>
      </div>
      <div>
        <app-input
          [id]="'password'"
          [type]="'password'"
          [floatLabel]="'Enter your password'"
          [isError]="
            !f.controls.password.pristine && f.controls.password.invalid
          "
          formControlName="password"
          [showIconEyes]="true"
        >
        </app-input>
      </div>
      <div>
        <app-button
          [size]="'lg'"
          [width]="'full'"
          [type]="'action'"
          [text]="'Log in'"
          [iconType]="'bi bi-box-arrow-in-right'"
          [onLoad]="onLoad"
          [disabled]="f.invalid || onLoad"
          (callback)="auth()"
        ></app-button>
      </div>

      <div>
        <p class="text-center">
          Forgot your password?
          <a [routerLink]="['../forgotten/password']">Reset it here.</a>
        </p>
      </div>
    </form>
  </div>
</div>
