/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import url("./app/components/button/button.component.css");
@import "tailwindcss/utilities";

@layer components {
}

@layer utilities {
  /*
    Custom animated FadeIn 
    FadeOut not supported with ng-If directive)
  */
  @keyframes fadeInAlert {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn.alert {
    animation: fadeInAlert 1s;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    animation: fadeIn 1s;
  }
}
